@media only screen and (max-width: 800px) {
  .card {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    flex: 1 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .card-image {
    height: 100%;
    transform: none !important;
    max-width: none;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 1 0 100%;
    max-width: 100%;
  }

  .card-content-container.open {
    padding: 0;
  }

  .myShop-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 410px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 30px;
    position: relative;
  }
  .banner-content {
    position: relative;
    top: 30px;
    left: calc(100vw / 2 - 150px);
    width: 300px;
    padding: 10px 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
  }

  .card--products {
    position: relative;
    padding: 5px;
    margin: 20px 6px 120px 6px;
    height: 250px;
    max-width: 300px;
  }

  .card-image-container-selected {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
    transform: translateZ(0);
    height: 220px;
    width: 100%;
    display: flex;
    padding-top: 4rem;
    justify-content: space-between;
  }

  .content-container {
    padding: 250px 35px 35px 35px;
    max-width: 100%;
    width: 90vw;
    margin: 0 auto;
  }
  .loma-logo {
    top: 15px;
    left: 15px;
  }

  .loma-container {
    width: 100%;
    padding: 90px 0 0 0;
  }
  .nav {
    position: fixed;
    top: -35px;
    right: -25px;
    bottom: 0;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .cart-nav {
    position: fixed;
    top: -35px;
    right: -25px;
    bottom: 0;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .product-options {
    display: block;
    background-color: #fff;
    color: #000;
    width: 100%;
    padding: 5px 0;
  }
  .my-account-container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 500px) {
  .modal-content-container {
    max-width: 90vw;
    max-height: 80vh;
    min-width: 450px;
    min-height: 300px;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0px;
  }
}
