.nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cart-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.behind {
  z-index: -1;
}
.front {
  z-index: 100 !important;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 350px;
  z-index: 99;
  background: white;
}
.cart-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 350px;
  z-index: 99;
  background: white;
}

.menu-toggle-btn {
  z-index: 99;
  outline: none;
  border: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  padding-top: 11px;
  padding-left: 7.5px;
}

.cart-menu-toggle-btn {
  z-index: 99;
  outline: none;
  border: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 115px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  padding-top: 6px;
}

.side-menu-list {
  z-index: 99;
  padding: 50px 0;
  /* padding-left: 35px; */
  position: absolute;
  top: 100px;
  width: 230px;
  line-height: 1rem;
}

.side-menu-list li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 40px;
  flex: 1;
  color: #000;
  text-transform: uppercase;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hr--menu {
  background-color: rgba(0, 0, 0, 0.9);
  border: none;
}
